@font-face {
    font-family: 'Masoch-Dirach';
    src: url("Masoch-Dirach.otf") format("opentype")
         local('Masoch-Dirach') format("opentype")
}

/* Main boxes */
#orbits_box {
  width: 600px;
  height: 600px;
  background-color: none;
  border: 1px solid white;
  padding: 0;
  margin: 20px 0;
  position:relative;
  left: 50%;
  transform: translateX(-50%);
}

#time_line {
  width: 50%;
  height: 0px;
  background-color: none;
  border: 1px dashed white;
  padding: 0;
  margin: 0px 0;
  position:absolute;
  left: 50%;
  top: 50%;
  transform-origin: center right;
  transform: translate(-100%,-0%) rotate(-0deg);
}

#tmt_time_line {
  width: 50%;
  height: 0px;
  background-color: none;
  border: 1px dashed #222;
  padding: 0;
  margin: 0px 0;
  position:absolute;
  left: 50%;
  top: 50%;
  transform-origin: center right;
  transform: translate(-100%,-0%) rotate(-0deg);
}

#phases_box {
  width: 600px;
  height: 140px;
  background-color: none;
  border: 1px solid white;
  padding: 0;
  margin: 20px 0;
  position:relative;
  left: 50%;
  transform: translateX(-50%);
}

#skybox {
  width: 600px;
  border-radius: 0%;
  position: relative;
  background-color: none;
  border: 1px solid white;
  padding: 0;
  margin: 20px 0;
  left: 50%;
  transform: translateX(-50%);
}

.container {
  width: 100%;
  min-width: 500px;
  height: 150px;
  margin: 0 auto;
  text-align: center;
  font-family: Verdana;
  position: relative;
  border: 0px solid white;
}

.container_toggles {
  width: 100px;
  margin: 0 auto;
  text-align: left;
  font-family: Verdana;
  position: absolute;
  left: calc(50% + 310px);
  top: 170px;
  border: 0px solid white;
}

.container_toggles label {
  font-weight: 400;
  margin-bottom: 0px;
}

button {
  background-color: #000000;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  border: solid 1px;
  font-family: Verdana;
}

hr.horizonline { 
  width:100%; 
  top: 50%;
  border: none;
  border-top: 1px dotted white;
  position: absolute;
  padding: 0;
  margin: 0px 0; 
}

vl.compassline { 
  height:5%;
  bottom:47.5%;
  border: none;
  border-left: 1px dotted white;
  position: absolute;
  padding: 0;
  margin: 0px 0; 
}


/* Orbit moons */

#zarantyr_css {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: gray;
  position: absolute;
  padding: 0;
  margin: 0px 0;
  transform: translate(-50%,-50%);
}

#olarune_css {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: orange;
  position: absolute;
  padding: 0;
  margin: 0px 0;
  transform: translate(-50%,-50%);
}

#therendor_css {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: lightgray;
  position: absolute;
  padding: 0;
  margin: 0px 0;
  transform: translate(-50%,-50%);
}

#eyre_css {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #b2b2cc;
  position: absolute;
  padding: 0;
  margin: 0px 0;
  transform: translate(-50%,-50%);
}

#dravago_css {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #b2b2cc;
  position: absolute;
  padding: 0;
  margin: 0px 0;
  transform: translate(-50%,-50%);
}

#nymm_css {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #b2b2cc;
  position: absolute;
  padding: 0;
  margin: 0px 0;
  transform: translate(-50%,-50%);
}

#lharvion_css {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #000000;
  position: absolute;
  padding: 0;
  margin: 0px 0;
  transform: translate(-50%,-50%);
}

#barrakas_css {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #000000;
  position: absolute;
  padding: 0;
  margin: 0px 0;
  transform: translate(-50%,-50%);
}

#rhaan_css {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #000000;
  position: absolute;
  padding: 0;
  margin: 0px 0;
  transform: translate(-50%,-50%);
}

#sypheros_css {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #aaaaaa;
  position: absolute;
  padding: 0;
  margin: 0px 0;
  transform: translate(-50%,-50%);
}

#aryth_css {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ff4500;
  position: absolute;
  padding: 0;
  margin: 0px 0;
  transform: translate(-50%,-50%);
}

#vult_css {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #aaaaaa;
  position: absolute;
  padding: 0;
  margin: 0px 0;
  transform: translate(-50%,-50%);
}

#zarantyr_orbit_css {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid white;
  opacity: 0.3;
  background-color: none;
  position: absolute;
  padding: 0;
  margin: 0px 0;
  transform: translate(-50%,-50%);
}

#olarune_orbit_css {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid orange;
  opacity: 0.3;
  background-color: none;
  position: absolute;
  padding: 0;
  margin: 0px 0;
  transform: translate(-50%,-50%);
}

#therendor_orbit_css {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid white;
  opacity: 0.3;
  background-color: none;
  position: absolute;
  padding: 0;
  margin: 0px 0;
  transform: translate(-50%,-50%);
}

#eyre_orbit_css {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid black;
  opacity: 0.3;
  background-color: none;
  position: absolute;
  padding: 0;
  margin: 0px 0;
  transform: translate(-50%,-50%);
}


#dravago_orbit_css {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid black;
  opacity: 0.3;
  background-color: none;
  position: absolute;
  padding: 0;
  margin: 0px 0;
  transform: translate(-50%,-50%);
}

#nymm_orbit_css {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid black;
  opacity: 0.3;
  background-color: none;
  position: absolute;
  padding: 0;
  margin: 0px 0;
  transform: translate(-50%,-50%);
}

#lharvion_orbit_css {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid black;
  opacity: 0.3;
  background-color: none;
  position: absolute;
  padding: 0;
  margin: 0px 0;
  transform: translate(-50%,-50%);
}

#barrakas_orbit_css {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid black;
  opacity: 0.3;
  background-color: none;
  position: absolute;
  padding: 0;
  margin: 0px 0;
  transform: translate(-50%,-50%);
}

#rhaan_orbit_css {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid black;
  opacity: 0.3;
  background-color: none;
  position: absolute;
  padding: 0;
  margin: 0px 0;
  transform: translate(-50%,-50%);
}

#sypheros_orbit_css {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid black;
  opacity: 0.3;
  background-color: none;
  position: absolute;
  padding: 0;
  margin: 0px 0;
  transform: translate(-50%,-50%);
}

#aryth_orbit_css {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid black;
  opacity: 0.3;
  background-color: none;
  position: absolute;
  padding: 0;
  margin: 0px 0;
  transform: translate(-50%,-50%);
}

#vult_orbit_css {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid black;
  opacity: 0.3;
  background-color: none;
  position: absolute;
  padding: 0;
  margin: 0px 0;
  transform: translate(-50%,-50%);
}

/* Planet Circles */
#eberron {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #2D4671;
  position: absolute;
  padding: 0;
  margin: 0px 0;
  transform: translate(-50%,-50%);
}

#ring {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border: 2px solid #FFFF99;
  background-color: none;
  position: absolute;
  padding: 0;
  margin: 0px 0;
  transform: translate(-50%,-50%);
}
#arrah {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: lightyellow;
  box-shadow:0 0 20px 0px #fff;
  position: absolute;
  left: 100%;
  top: 50%;
  padding: 0;
  margin: 0px 0;
  transform: translate(-50%,-50%);
}

/* Phase Circles */

#ascendent_phase_halo_css {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: black;
  box-shadow:0 0 15px 0px #fff;
  position: absolute;
  padding: 0;
  margin: 0px 0;
  transform: translateY(-50%);
}

#zarantyr_phase_css {
  width: 50px;
  height: 100px;
  background-color: none;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  border-top-left-radius: 0px;
  border-bottom-left-radius:00px;
  position: absolute;
  padding: 0;
  margin: 0px 0;
  transform: translateY(-50%);
}

#zarantyr_phase_overlay_css {
  width: 50px;
  height: 100px;
  background-color: none;
  border-radius: 50%;
  position: absolute;
  padding: 0;
  margin: 0px 0;
  transform: translate(-50%,-50%);
}

#olarune_phase_css {
  width: 50px;
  height: 100px;
  background-color: none;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  border-top-left-radius: 0px;
  border-bottom-left-radius:00px;
  position: absolute;
  padding: 0;
  margin: 0px 0;
  transform: translateY(-50%);
}

#olarune_phase_overlay_css {
  width: 50px;
  height: 100px;
  background-color: none;
  border-radius: 50%;
  position: absolute;
  padding: 0;
  margin: 0px 0;
  transform: translate(-50%,-50%);
}

#therendor_phase_css {
  width: 50px;
  height: 100px;
  background-color: none;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  border-top-left-radius: 0px;
  border-bottom-left-radius:00px;
  position: absolute;
  padding: 0;
  margin: 0px 0;
  transform: translateY(-50%);
}

#therendor_phase_overlay_css {
  width: 50px;
  height: 100px;
  background-color: none;
  border-radius: 50%;
  position: absolute;
  padding: 0;
  margin: 0px 0;
  transform: translate(-50%,-50%);
}

#eyre_phase_css {
  width: 50px;
  height: 100px;
  background-color: none;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  border-top-left-radius: 0px;
  border-bottom-left-radius:00px;
  position: absolute;
  padding: 0;
  margin: 0px 0;
  transform: translateY(-50%);
}

#eyre_phase_overlay_css {
  width: 50px;
  height: 100px;
  background-color: none;
  border-radius: 50%;
  position: absolute;
  padding: 0;
  margin: 0px 0;
  transform: translate(-50%,-50%);
}

#dravago_phase_css {
  width: 50px;
  height: 100px;
  background-color: none;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  border-top-left-radius: 0px;
  border-bottom-left-radius:00px;
  position: absolute;
  padding: 0;
  margin: 0px 0;
  transform: translateY(-50%);
}

#dravago_phase_overlay_css {
  width: 50px;
  height: 100px;
  background-color: none;
  border-radius: 50%;
  position: absolute;
  padding: 0;
  margin: 0px 0;
  transform: translate(-50%,-50%);
}

#nymm_phase_css {
  width: 50px;
  height: 100px;
  background-color: none;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  border-top-left-radius: 0px;
  border-bottom-left-radius:00px;
  position: absolute;
  padding: 0;
  margin: 0px 0;
  transform: translateY(-50%);
}

#nymm_phase_overlay_css {
  width: 50px;
  height: 100px;
  background-color: none;
  border-radius: 50%;
  position: absolute;
  padding: 0;
  margin: 0px 0;
  transform: translate(-50%,-50%);
}

#lharvion_phase_css {
  width: 50px;
  height: 100px;
  background-color: none;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  border-top-left-radius: 0px;
  border-bottom-left-radius:00px;
  position: absolute;
  padding: 0;
  margin: 0px 0;
  transform: translateY(-50%);
}

#lharvion_phase_overlay_css {
  width: 50px;
  height: 100px;
  background-color: none;
  border-radius: 50%;
  position: absolute;
  padding: 0;
  margin: 0px 0;
  transform: translate(-50%,-50%);
}

#barrakas_phase_css {
  width: 50px;
  height: 100px;
  background-color: none;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  border-top-left-radius: 0px;
  border-bottom-left-radius:00px;
  position: absolute;
  padding: 0;
  margin: 0px 0;
  transform: translateY(-50%);
}

#barrakas_phase_overlay_css {
  width: 50px;
  height: 100px;
  background-color: none;
  border-radius: 50%;
  position: absolute;
  padding: 0;
  margin: 0px 0;  
  transform: translate(-50%,-50%);
}

#rhaan_phase_css {
  width: 50px;
  height: 100px;
  background-color: none;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  border-top-left-radius: 0px;
  border-bottom-left-radius:00px;
  position: absolute;
  padding: 0;
  margin: 0px 0;
  transform: translateY(-50%);
}

#rhaan_phase_overlay_css {
  width: 50px;
  height: 100px;
  background-color: none;
  border-radius: 50%;
  position: absolute;
  padding: 0;
  margin: 0px 0;
  transform: translate(-50%,-50%);
}

#sypheros_phase_css {
  width: 50px;
  height: 100px;
  background-color: none;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  border-top-left-radius: 0px;
  border-bottom-left-radius:00px;
  position: absolute;
  padding: 0;
  margin: 0px 0;
  transform: translateY(-50%);
}

#sypheros_phase_overlay_css {
  width: 50px;
  height: 100px;
  background-color: none;
  border-radius: 50%;
  position: absolute;
  padding: 0;
  margin: 0px 0;
  transform: translate(-50%,-50%);
}

#aryth_phase_css {
  width: 50px;
  height: 100px;
  background-color: none;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  border-top-left-radius: 0px;
  border-bottom-left-radius:00px;
  position: absolute;
  padding: 0;
  margin: 0px 0;
  transform: translateY(-50%);
}

#aryth_phase_overlay_css {
  width: 50px;
  height: 100px;
  background-color: none;
  border-radius: 50%;
  position: absolute;
  padding: 0;
  margin: 0px 0;
  transform: translate(-50%,-50%);
}

#vult_phase_css {
  width: 50px;
  height: 100px;
  background-color: none;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  border-top-left-radius: 0px;
  border-bottom-left-radius:00px;
  position: absolute;
  padding: 0;
  margin: 0px 0;
  transform: translateY(-50%);
}

#vult_phase_overlay_css {
  width: 50px;
  height: 100px;
  background-color: none;
  border-radius: 50%;
  position: absolute;
  padding: 0;
  margin: 0px 0;
  transform: translate(-50%,-50%);
}

/* Sky Plot */

#sky_overlay {
  height: 50%;
  width: 100%;
  position:absolute;
  left: 0;
  top: 0;
  /* background-color: #0ff4; */
}

#ground_overlay {
  height: 50%;
  width: 100%;
  position:absolute;
  left: 0;
  top: 50%;
  background-color: #442;
}

#arrah_sky_css {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: lightyellow;
  box-shadow:0 0 20px 0px #fff;
  position: absolute;
  padding: 0;
  margin: 0px 0;;
}

#zarantyr_sky_css {
  position: absolute;
  padding: 0;
  margin: 0px 0;
}

#zarantyr_sky_overlay_css {
  border-radius: 50%;
  position: absolute;

  padding: 0;
  margin: 0px 0;
}

#zarantyr_sky_underlay_css {
  border-radius: 50%;
  position: absolute;   
  background-color: black;
  padding: 0;
  margin: 0px 0;
}


#olarune_sky_css {
  position: absolute;
  padding: 0;
  margin: 0px 0;
}

#olarune_sky_overlay_css {
  border-radius: 50%;
  position: absolute; 
  padding: 0;
  margin: 0px 0;
}

#olarune_sky_underlay_css {
  border-radius: 50%;
  position: absolute;
  background-color: black;
  padding: 0;
  margin: 0px 0;
}


#therendor_sky_css {
  position: absolute;
  padding: 0;
  margin: 0px 0;
}

#therendor_sky_overlay_css {
  border-radius: 50%;
  position: absolute;
  padding: 0;
  margin: 0px 0;
}


#therendor_sky_underlay_css {
  border-radius: 50%;
  position: absolute;
  background-color: black;
  padding: 0;
  margin: 0px 0;
}


#eyre_sky_css {
  position: absolute;
  padding: 0;
  margin: 0px 0;
}

#eyre_sky_overlay_css {
  border-radius: 50%;
  position: absolute;
  padding: 0;
  margin: 0px 0;
}

#eyre_sky_underlay_css {
  border-radius: 50%;
  position: absolute;
  background-color: black;
  padding: 0;
  margin: 0px 0;
}


#dravago_sky_css {
  position: absolute;
  padding: 0;
  margin: 0px 0;
}

#dravago_sky_overlay_css {
  border-radius: 50%;
  position: absolute;
  padding: 0;
  margin: 0px 0;
}

#dravago_sky_underlay_css {
  border-radius: 50%;
  position: absolute;
  background-color: black;
  padding: 0;
  margin: 0px 0;
}

#nymm_sky_css {
  position: absolute;
  padding: 0;
  margin: 0px 0;
}

#nymm_sky_overlay_css {
  border-radius: 50%;
  position: absolute;
  padding: 0;
  margin: 0px 0;
}

#nymm_sky_underlay_css {
  border-radius: 50%;
  position: absolute;
  background-color: black;
  padding: 0;
  margin: 0px 0;
}

#lharvion_sky_css {
  position: absolute;
  padding: 0;
  margin: 0px 0;
}

#lharvion_sky_overlay_css {
  border-radius: 50%;
  position: absolute;
  padding: 0;
  margin: 0px 0;
}

#lharvion_sky_underlay_css {
  border-radius: 50%;
  position: absolute;
  background-color: black;
  padding: 0;
  margin: 0px 0;
}

#barrakas_sky_css {
  position: absolute;
  padding: 0;
  margin: 0px 0;
}

#barrakas_sky_overlay_css {
  border-radius: 50%;
  position: absolute;
  padding: 0;
  margin: 0px 0;
}

#barrakas_sky_underlay_css {
  border-radius: 50%;
  position: absolute;
  background-color: black;
  padding: 0;
  margin: 0px 0;
}

#rhaan_sky_css {
  position: absolute;
  padding: 0;
  margin: 0px 0;
}

#rhaan_sky_overlay_css {
  border-radius: 50%;
  position: absolute;
  padding: 0;
  margin: 0px 0;
}

#rhaan_sky_underlay_css {
  border-radius: 50%;
  position: absolute;
  background-color: black;
  padding: 0;
  margin: 0px 0;
}

#sypheros_sky_css {
  position: absolute;
  padding: 0;
  margin: 0px 0;
}

#sypheros_sky_overlay_css {
  border-radius: 50%;
  position: absolute;
  padding: 0;
  margin: 0px 0;
}

#sypheros_sky_underlay_css {
  border-radius: 50%;
  position: absolute;
  background-color: black;
  padding: 0;
  margin: 0px 0;
}

#aryth_sky_css {
  position: absolute;
  padding: 0;
  margin: 0px 0;
}

#aryth_sky_overlay_css {
  border-radius: 50%;
  position: absolute;
  padding: 0;
  margin: 0px 0;
}

#aryth_sky_underlay_css {
  border-radius: 50%;
  position: absolute;
  background-color: black;
  padding: 0;
  margin: 0px 0;
}

#vult_sky_css {
  position: absolute;
  padding: 0;
  margin: 0px 0;
}

#vult_sky_overlay_css {
  border-radius: 50%;
  position: absolute;
  padding: 0;
  margin: 0px 0;
}

#vult_sky_underlay_css {
  border-radius: 50%;
  position: absolute;
  background-color: black;
  padding: 0;
  margin: 0px 0;
}
